<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741473886518-ho35v6cmef7fulh2dvp05m1841qvaorg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741473886518-ho35v6cmef7fulh2dvp05m1841qvaorg</string>
	<key>API_KEY</key>
	<string>AIzaSyBL2oPsuB54jAuCaHhsQihCXu-93Lrjtnk</string>
	<key>GCM_SENDER_ID</key>
	<string>741473886518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-d56ac</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-d56ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741473886518:ios:88904eb99bda3539f99397</string>
</dict>
</plist>